@media screen and (min-width: 320px){
    .video__title.video__title_position_last{
        top: 100px;
    }
}
@media screen and (min-width: 1024px){
    .video__title.video__title_position_last{
        top: 150px;
    }
}
@media screen and (min-width: 1240px){
    .video__title.video__title_position_last{
        top: 190px;
    }
}