@media screen and (min-width: 320px) and (max-width: 374px){
    .comments__comment{
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .comments__comment:first-of-type{
        margin-top: 0;
    }
}
@media screen and (min-width: 375px) and (max-width: 1023px){
    .comments__comment{
        margin-top: 48px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .comments__comment:first-of-type{
        margin-top: 0;
    }
}
@media screen and (min-width: 1024px){
    .comments__comment{
        width: 31%;
        display: flex;
        flex-direction: column;
    }
    .comments__comment p:nth-of-type(1){
        order: 3;
    }
    .comments__comment p:nth-of-type(2){
        order: 2;
    }
}