@import url('./_position/video__time_position_last.css');
.video__time{
    color: #FFFFFF;
    font-weight: 500;
    font-size: 12px;
    line-height: 13px;
    letter-spacing: 0.3em;
    z-index: 3;
    position: absolute;
    margin: 0;
}
.video__time:hover{
    opacity: 0.7;
}
@media screen and (min-width: 320px){
    .video__time{
        top: 105px;
        left: 16px;
    }
}
@media screen and (min-width: 375px){
    .video__time{
        left: 24px;
    }
}
@media screen and (min-width: 1024px){
    .video__time{
        left: 30px;
        top: 125px;
    }
}
@media screen and (min-width: 1280px){
    .video__time{
        top: 165px;
    }
}