@import url('./__button/link__button.css');
@import url('./__img/link__img.css');
@import url('./__item/link__item.css');
@import url('./__subtitle/link__subtitle.css');
@import url('./__time/link__time.css');
@import url('./__title/link__title.css');
.link{
    text-decoration: none;
}
@media screen and (min-width: 320px){
    .link{
        margin-bottom: 8px;
    }
    .link:last-of-type{
        margin-bottom: 0;
    }
}
@media screen and (min-width: 768px){
    .link{
        margin-bottom: 0;
        margin-right: 16px;
    }
    .link:last-of-type{
        margin-right: 0;
    }
}
@media screen and (min-width: 1280px){
    .link{
        margin-right: 18px;
    }
}