@media screen and (max-width: 767px){
    .place__paragraphs{
        margin-top: 24px;
    }
}
@media screen and (min-width: 768px){
    .place__paragraphs{
        margin-left: 28px;
        width: calc(90% - 357px);
        margin-top: 32px;
    }
}
@media screen and (min-width: 1024px){
    .place__paragraphs{
        margin-left: 40px;
        width: calc(90% - 456px);
        margin-top: 40px;
    }
}
@media screen and (min-width: 1280px){
    .place__paragraphs{
        width: 480px;
        margin-top: 60px;
    }
}
