@media screen and (min-width: 320px){
    .lead__image{
        width: 100%;
        height: 211px;
        margin-top: 32px;
    }
}
@media screen and (min-width: 768px){
    .lead__image{
        width: 100%;
        height: 420px;
        margin-top: 78px;
    }
}
@media screen and (min-width: 1024px){
    .lead__image{
        height: 554px;
    }
}