@media screen and (min-width: 320px){
    .link__time.link__time_position_last{
        margin-top: 23px;
    }
}
@media screen and (min-width: 375px){
    .link__time.link__time_position_last{
        margin-top: 17px;
    }
}
@media screen and (min-width: 1024px){
    .link__time.link__time_position_last{
        margin-top: 54px;
    }
}
@media screen and (min-width: 1280px){
    .link__time.link__time_position_last{
        margin-top: 94px;
    }
}