.comments__section-subtitle{
    color: #FFFFFF;
    margin-bottom: 0;
    text-align: center;
}
@media screen and (min-width: 320px){
    .comments__section-subtitle{
        margin-top: 16px;
        font-size: 16px;
        line-height: 23px;
    }
}
@media screen and (min-width: 768px){
    .comments__section-subtitle{
        margin-top: 24px;
        font-size: 24px;
        line-height: 35px;
        width: 640px;
        margin-right: auto;
        margin-left: auto;
    }
}
@media screen and (min-width: 1024px){
    .comments__section-subtitle{
        margin-top: 48px;
        font-size: 24px;
        line-height: 35px;
        width: 640px;
        margin-right: auto;
        margin-left: auto;
    }
}