@import url('./__linl/cover__link.css');
@import url('./__title/cover__title.css');
@import url('./__subtitle/cover__subtitle.css');
.cover{
    background-image: url('../../images/cover.jpg');
    background-size: cover;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}
.cover:hover{
    opacity: 0.7;
}
@media screen and (min-width: 320px){
    .cover{
        width: 100%;
        height: 216px;
        margin-top: 64px;
    }
}
@media screen and (min-width: 375px){
    .cover{
        height: 272px;
        margin-top: 48px;
    }
}
@media screen and (min-width: 768px){
    .cover{
        height: 500px;
        margin-top: 102px;
    }
}
@media screen and (min-width: 1024px){
    .cover{
        height: 562px;
    }
}
@media screen and (min-width: 1280px){
    .cover{
        width: 1184px;
        height: 594px;
        margin-top: 102px;
    }
}