@import url('./__content/footer__content.css');
@import url('./__line/footer__line.css');
@import url('./__link/footer__link.css');
@import url('./__copyright/footer__copyright.css');
@media screen and (min-width: 1280px){
    .footer{
        width: 1184px;
        margin-left: auto;
        margin-right: auto;
    }
}
