.footer__content{
    display: flex;
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 5%;
    margin-left: 5%;
    padding-left: 0;
}
@media screen and (min-width: 320px){
    .footer__content{
        flex-direction: column;
        padding-top: 64px;
        padding-bottom: 24px;
    }
}
@media screen and (min-width: 768px){
    .footer__content{
        flex-direction: row;
        padding-top: 102px;
        padding-bottom: 28px;
    }
}
@media screen and (min-width: 1024px){
    .footer__content{
        padding-top: 160px;
        padding-bottom: 48px;
    }
}
@media screen and (min-width: 1440x){
    .footer__content{
        width: 80%;
    }
}